*{
	margin: 0;
	padding: 0;
	font-family: 'Baloo Paaji', cursive;
}

body{
	background-color: rgba(174, 219, 208, 0.35);
}

#navegador{
	background-color: #0F7389;
}

nav ul{
 padding-left: 20px;	

}

.lista{
	list-style: none;
	padding: 0 13px;
	display: inline-block;
}

a{
	text-decoration: none;
	color: #3fafaf;
	font-family: 'Prompt', sans-serif;
}

a:hover {
	color: #E95853;
}

.title{
	font-weight: bolder;
	padding-left: 219px;
    background-color: #0F7389;
    padding-bottom: 18px;
}

.palabra-uno{
	color: whitesmoke;
    padding: 0px 17px;
    margin-top: 23px;
}


.palabra-dos{
	color: #FF6163;
	padding-top: 31px;
}



.contenedor-lista{
	padding-left: 502px;
    padding-bottom: 25px;
    padding-top: 36px;
}


/********Termina mi nav***********/






/*********Comienza la seccion de fotitos conejos****************/

#conejo-grande {
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 35%;
    margin: 0 218px;
    padding-top: 51%;
    top: 151px;
}

#caja-calipso {
    width: 57%;
    height: 55vh;
    margin: -622px 0;
    margin-left: 326px;
    z-index: 1000;
    position: absolute;
    background-color: rgba(51, 135, 189, 0.67);
}


.soft{
	font-size: 59px;
    color: #FF6163;
    text-align: center;
    padding-top: 77px;
}




/*********Comienza la seccion de fotografias *4 ***************/
#conejitos{
    position: absolute;
    background-color: white;
    width: 70%;
    left: 217px;
    height: 128vh;
}

.pequeno{
   width: 100%;
    position: relative;
}

.foto{
    padding: 23px 0px;
}

.pequeno-uno{
   left: 23px;
}

.pequeno-dos{
    left: 16px;
}

.pequeno-tres{
    left: 8px;
}

.color {
    background-color: #0F7389;
    width: 100%;
    left: 23px;
    position: relative;
}

.title-tale{
    color: #FF6163;
    font-size: 17px;
    padding-left: 17px;
    text-align: center;
}

.text{
    color: #e2f2ee;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
}





/********Comienza la seccion con dos conejos***************/
#dos-conejitos{
    position: relative;
    background-color: #0F7389;
    width: 70%;
    left: 217px;
    height: 230vh;
    bottom: -421px;
    margin-bottom: 100px;
    height: 181vh;
}

.contenedor-primer-conejo{
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
}

.primer-conejo{
    height: 53vh;
    margin-bottom: -10px;
}


.contenedor-segundo-conejo{
    right: 127px;
    position: relative;
    padding-top: 127px;
}

.segundo-conejo{
    height: 41vh;
    width: 157%;
}

.texto-conejos {
    background-color: #e2f2ee;
    width: 78%;
    padding: 22px 0;
    padding-left: 27px;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    color: #594949;
}

.texto-conejo-dos{
    width: 144%;
    margin-top: -10px;
    height: 27vh;
}

.iconitos{
    text-align: center;
    padding-top: 47px;
}

.fa{
    color: #0F7389;
    padding-right: 61px;
}

.fa-facebook{
    padding-left: 18px;
}

.contenedor-imagen-3{
    padding-top: 20px;
}

.imagen-3{
    width: 156%;
}

.texto-conejo-tres{
    width: 310px;
    height: 22vh;
    margin-top: -10px;
}

.video{
    width: 540px;
}

.contenedor-dibujo{
    width: 50%;
}

.dibujo{
    width: 12%;
    top: 341px;
    position: relative;
}

#contenedor-footer{
    background-color: #0F7389;
        background-color: #0F7389;
    top: 422px;
    position: relative;
    text-align: center;
    height: 129px;
    color: #e2f2ee;
}

.text-footer{
    font-size: 16px;
}

.contenedor-texto-footer{
    background-color: #FF6163;
    height: 3px;
}