*{
	margin: 0;
	padding: 0;
	font-family: 'Baloo Paaji', cursive;
}

body{
	background-color: rgba(174, 219, 208, 0.35);
}

#navegador{
	background-color: #0F7389;
}

nav ul{
 padding-left: 20px;	

}

.lista{
	list-style: none;
	padding: 0 13px;
	display: inline-block;
}

a{
	text-decoration: none;
	color: #3fafaf;
	font-family: 'Prompt', sans-serif;
}

a:hover {
	color: #E95853;
}

.title{
	font-weight: bolder;
	padding-left: 219px;
    background-color: #0F7389;
    padding-bottom: 18px;
}

.palabra-uno{
	color: whitesmoke;
    padding: 0px 17px;
    margin-top: 23px;
}


.palabra-dos{
	color: #FE4556;
	padding-top: 31px;
}



.contenedor-lista{
	padding-left: 502px;
    padding-bottom: 25px;
    padding-top: 36px;
}


/********Termina mi nav***********/






/*********Comienza la seccion de fotitos conejos****************/

#conejo-grande {
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 35%;
    margin: 0 218px;
    padding-top: 51%;
    top: 151px;
}

#caja-calipso {
    width: 57%;
    height: 55vh;
    margin: -622px 0;
    margin-left: 326px;
    z-index: 1000;
    position: absolute;
    background-color: rgba(51, 135, 189, 0.67);
}


.soft{
	font-size: 59px;
    color: #fe4556;
    text-align: center;
    padding-top: 77px;
}

#conejitos{
    position: absolute;
    background-color: white;
    width: 70%;
    left: 217px;
    height: 128vh;
}

.pequeno{
   width: 100%;
    position: relative;
}

.foto{
    padding: 23px 0px;
}

.pequeno-uno{
   left: 23px;
}

.pequeno-dos{
    left: 16px;
}

.pequeno-tres{
    left: 8px;
}

